p {
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  background-image: url("images/background_image.jpg");
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 500px;
}


.row_css{
  margin: 100px;
  height: 500px;
  transition: height 1s;
}


.NEAT_image{
  margin-top: 20px;
}


.neat_explanation{
  text-align: center;
  margin-top: 90px;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}


.btn-css-1{
  font-family: Helvetica,Arial,sans-serif;
  position: relative;
  top: 235px;
  background-color: darkblue;
  color: white;
  border-color: black;
  border-width: 3px;
}















/* this part is for event listeners neat */
.implement{
  background-color: cornsilk;;
  width: auto;
  margin: 100px;
  position: relative;
  top: -750px;
  height: 650px;
  display: None;
  text-align: center;
}

.node_first{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  left: 50px;
  top: 550px;
}

.node_text_first{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}

.node_second{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  left: 50px;
  top: 300px;
}

.node_text_second{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}


.node_third{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  left: 50px;
  top: 150px;
}

.node_text_third{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}

.node_first-net-2{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  top: 400px;
}

.node_text_first-net-2{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}

.node_second-net-2{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  top: 150px;
}

.node_text_second-net-2{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}


.node_third-net-2{
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-style: groove;
  border-radius: 35px;
  position: absolute;
  top: 0px;
}

.node_text_third-net-2{
  font-size: 14px;
  margin-top: 5px;
  position: relative;
  left: -20px;
}




.add-connect-btn{
  display: None;
  margin: 4% 10% 0%;
  width: 30%;
  font-size: 120%;
}

.add-node-btn{
  display: None;
  margin: 20% 10% 0%;
  width: 30%;
  font-size: 120%;
}

.crossover-btn{
  display: None;
  margin: 4% 10% 0%;
  width: 30%;
  font-size: 120%;
}

.btn-net-1{
  margin: 2% 10px 2px;
  margin-left: 5%;
  width: 40%;
  height: 50px;
  background-color: #dc3545;
  display: inline-block;
  font-size: 90%;
}

.btn-net-2{
  margin: 2% 2px 2px;
  width: 40%;
  height: 50px;
  background-color: #dc3545;
  font-size: 90%;
}


.pick_model{
  display: inline-block;
  background-color: azure;
  width: 78%;
  position: relative;
  top: 5%;
  margin-right: 10px;
  margin-left: 10px;
  height: 50%;
  text-align: left;
}


.network-1-text{
  position: absolute;
  top: 610px;
  left: 130px;
  border-style: double;
  width: 100px;
  border-width: 5px;
  border-color: aqua;
  background-color: red;
}


.network-2-text{
  position: absolute;
  top: 460px;
  border-style: double;
  width: 100px;
  border-width: 5px;
  border-color: aqua;
  background-color: red;
  right: 210px;
}


.choose-network-text{
  text-align: center;
  margin-left: 5%;
  background-color: white;
  width: 90%;
  margin-top: 10px;
  font-size: 90%;
}

.warning{
  text-align: center;
  margin-left: 5%;
  background-color: white;
  width: 90%;
  margin-top: 5%;
}

.unset-net{
  display: block;
  margin: 20px;
  margin-left: 25px;
  width: 85%;
  background-color: #ffc107;
  font-size: 90%
}

.reset-btn{
  margin-bottom: 0px;
  margin-top: -170px;
  margin-right: 50px;
  width: 150px;
  float: right;
}

.keep-btn{
  margin-right: 24%;
  margin-top: 2%;
  width: 60%;
  float: right;
  background-color: #ffc107;
}



.line_1_1_5{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 290px;
  left: 30px;
  transform-origin: 50% 100%;
  transform: rotate(22.619864948040426deg);
}

.line_1_5_8{
  height: 172.04650534085255px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 127.95349465914745px;
  left: 130px;
  transform-origin: 50% 100%;
  transform: rotate(35.53767779197438deg);
}

.line_1_2_6{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 290px;
  left: 130px;
  transform-origin: 50% 100%;
  transform: rotate(22.619864948040426deg);
}

.line_2_2_5{
  height: 240px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 310px;
  left: 130px;
}

.line_2_3_6{
  height: 240px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 310px;
  left: 230px;
}

.line_2_5_7{
  height: 140px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 160px;
  left: 130px;
}

.line_2_6_8{
  height: 140px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 160px;
  left: 230px;
}

.line_3_3_5{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 290px;
  left: 230px;
  transform-origin: 50% 100%;
  transform: rotate(-22.619864948040426deg);
}

.line_3_4_6{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 290px;
  left: 330px;
  transform-origin: 50% 100%;
  transform: rotate(-22.619864948040426deg);
}

.line_3_6_7{
  height: 172.04650534085255px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 127.95349465914745px;
  left: 230px;
  transform-origin: 50% 100%;
  transform: rotate(-35.53767779197438deg);
}

.line_4_1_6{
  height: 312.40998703626616px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 237.59001296373384px;
  left: 30px;
  transform-origin: 50% 100%;
  transform: rotate(39.8055710922652deg);
}

.line_5_4_5{
  height: 312.40998703626616px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 237.59001296373384px;
  left: 330px;
  transform-origin: 50% 100%;
  transform: rotate(-39.8055710922652deg);
}



.line2_1_1_5{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 140px;
  transform-origin: 50% 100%;
  transform: rotate(22.619864948040426deg);
  right: 404px;
}

.line2_1_5_8{
  height: 172.04650534085255px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: -22.047px;
  transform-origin: 50% 100%;
  transform: rotate(35.53767779197438deg);
  right: 304px;
}

.line2_1_2_6{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 140px;
  transform-origin: 50% 100%;
  transform: rotate(22.619864948040426deg);
  right: 304px;
}

.line2_2_2_5{
  height: 240px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 160px;
  right: 304px;
}

.line2_2_3_6{
  height: 240px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 160px;
  right: 204px;
}

.line2_2_5_7{
  height: 140px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 10px;
  right: 304px;
}

.line2_2_6_8{
  height: 140px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 10px;
  right: 204px;
}

.line2_3_3_5{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 140px;
  transform-origin: 50% 100%;
  transform: rotate(-22.619864948040426deg);
  right: 204px;
}

.line2_3_4_6{
  height: 260px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 140px;
  transform-origin: 50% 100%;
  transform: rotate(-22.619864948040426deg);
  right: 104px;
}

.line2_3_6_7{
  height: 172.04650534085255px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: -22.047px;
  transform-origin: 50% 100%;
  transform: rotate(-35.53767779197438deg);
  right: 204px;
}

.line2_4_1_6{
  height: 312.40998703626616px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 87.5900129px;
  transform-origin: 50% 100%;
  transform: rotate(39.8055710922652deg);
  right: 404px;
}

.line2_5_4_5{
  height: 312.40998703626616px;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 87.5900129px;
  transform-origin: 50% 100%;
  transform: rotate(-39.8055710922652deg);
  right: 104px;
}

.random_results{
  width: 400px;
  height: 50px;
  background-color: cadetblue;
  margin-left: -12px;
  position: relative;
  bottom: 80px;
}

.random_results_2{
  width: 400px;
  height: 50px;
  background-color: cadetblue;
  position: relative;
  bottom: 80px;
  float: right;
  margin-right: -12px;
}

.random_text_1{
  height: 50px;
  margin-bottom: 0px;
  width: 200px;
  padding: 14px;
  background-color: aquamarine;
  float: left;
  font-size: 17px;
}

.random_text_2{
  margin-bottom: 0px;
  height: 50px;
  width: 200px;
  display: inline-block;
  float: right;
  padding: 14px;
  background-color: cadetblue;
  font-size: 17px;
}

.crossover_div{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_div_2{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_div_3{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_div_4{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_div_5{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_div_6{
  width: 50px;
  height: 50px;
  background-color: white;
  float: left;
  border-style: groove;
}

.crossover_text{
  padding: 12px;
  font-size: 10px;
  padding-left: 8px;
  padding-top: 14px;
}

.start_crossover{
  display: none;
  text-align: center;
  margin: auto;
  width: 150px;
  background-color: #f0b72e;
  margin-top: 10px;
  margin-bottom: 30px;
  display: none;
}

.text_cross_net_1{
  display: none;
  font-size: 90%;
  border-style: groove;
  background-color: aquamarine;
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  height: 5%;
  padding-top: .8%;

}

.text_cross_net_2{
  display: none;
  font-size: 90%;
  border-style: groove;
  background-color: aquamarine;
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  height: 5%;
  padding-top: .8%;
}

.text_cross_net_1_2{
  display: none;
  font-size: 90%;
  border-style: groove;
  background-color: aquamarine;
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  height: 5%;
  padding-top: .8%;
}

.text_cross_net_2_2{
  display: none;
  font-size: 90%;
  border-style: groove;
  background-color: aquamarine;
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  height: 5%;
  padding-top: .8%;
}

.text_cross_net_3{
  display: none;
  font-size: 90%;
  border-style: groove;
  background-color: aquamarine;
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  height: 5%;
  padding-top: .8%;
}

#c_net_1{
  display: none;
}

#c_net_1_2{
  display: none;
}

#c_net_2{
  display: none;
}

#c_net_2_2{
  display: none;
}

#c_net_3{
  display: none;
}

#c_net_3_2{
  display: none;
}

.new_node_text{
  position: relative;
  left: -30px;
}


.container-col-8-2{
  display: block;
  position: absolute;
  top: 150px;
  width: 32.72%;
}













/* q-MIX */
.q_mix_base{
  background-color: white;
  margin: 100px;
  margin-top: 200px;
  height: 500px;
  transition: height 5s;
}


.q_mix_l{
  height: 500px;
  background-color: white;
  text-align: center;
}

.q_mix_r{
  height: 500px;
  background-color: aliceblue;
  text-align: center;
}

.q_mix_image{
  margin-top: 20px;
  height: 180px;
  width: 560px;
}


.q_mix_explanation{
  text-align: center;
  margin-top: 90px;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}


.btn-css-2{
  font-family: Helvetica,Arial,sans-serif;
  position: relative;
  top: 235px;
  background-color: darkblue;
  color: white;
  border-color: black;
  border-width: 3px;
}

.implement_q_mix{
  background-color: dimgray;
  width: auto;
  margin: 100px;
  position: relative;
  top: -750px;
  height: 650px;
  display: none;
  text-align: center;
}


.btn-env{
  margin: auto;
  margin-top: 140px;
  width: 30%;
}

.btn-fill-buffer{
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 30%;
}

.btn-train{
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 30%;
}

.env-text{
  width: 100%;
  height: 50%;
  margin: auto;
  background-color: aliceblue;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 10px;
  font-size: 17px;
}

.env_base{
  display: None;
  height: 100%;
}

.fill-buffer{
  height: 100%;
  display: none;
}

.arguments{
  width: 90%;
  margin: auto;
  margin-top: 10px;
  height: 12%;
  background-color: cadetblue;
}

.settings{
  float: left;
  height: 100%;
  padding-top: 25px;
  width: 14.28%;
  font-size: 15px;
  font-family: "Arial";
}

.fill{
  width: 100%;
  height: 85%;
  margin-top: 10px;
  background-color: aliceblue;
}

.step-show{
  margin: auto;
  margin-top: 10px;
  width: 10%;
  height: 10%;
  display: inline-block;
}

.step-show-n{
  margin: auto;
  margin-top: 10px;
  width: 10%;
  height: 10%;
  display: inline-block;
  float: left;
  width: 150px;
}


.btn-apply-fun{
  display: block;
  margin-left: 10px;
  margin-bottom: 30px;
  width: 150px;
  font-size: 13.6px;
  display: none;
}

.apply-fun{
  position: absolute;
  width: 60%;
  height: 70%;
  left: 175px;
  background-color: darkgray;
  top: 160px;
}

.agent-1-obs{
  margin-top: 10px;
  display: none;
}

.agent-2-obs{
  margin-top: 30px;
  display: none;
}

.agent-1-state{
  margin-top: 100px;
  display: none;
}

.agent-2-state{
  margin-top: 100px;
  display: none;
}

.agent-state-total{
  margin-top: 100px;
  display: none;
}

.agent-1-new-obs{
  margin-top: 10px;
  margin-left: 70px;
}

.agent-2-new-obs{
  margin-top: 30px;
  margin-left: 70px;
}

.agent-1-last_action{
  margin-top: 110px;
  display: none;
}

.agent-2-last_action{
  margin-top: 110px;
  display: none;
}

.agent-1-hidden_dim{
  margin-top: 110px;
  display: none;
}

.agent-2-hidden_dim{
  margin-top: 110px;
  display: none;
}

.agent-1-input_dim{
  margin-top: 60px;
}

.agent-2-input_dim{
  margin-top: 60px;
}

.agent-1-text{
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}

.agent-2-text{
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}

.obs-class{
  float: left;
  width: 5%;
  height: 40px;
  background-color: azure;
  border-style: groove;
  font-size: 14px;
  padding-top: 3px;
}

.btn-reset-env{
  margin: auto;
  margin-top: 20px;
  display: none;
}

.final-output-base{
  height: 25%;
  width: 100%;
  margin-top: 20px;
  display: none;
}

.dis_add_dim{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: azure;
}

.rnn_network_a_1{
  height: 80px;
  width: 150px;
  background-color: azure;
  margin: auto;
  margin-top: 20px;
  display: inline-block;
  background-color: chocolate;
}

.left_network{
  margin-top: 10px;
}

.right_network{
  margin-top: 10px;
}

.get_action_base{
  display: none;
}

.our-env{
  width: 150px;
  height: 150px;
  background-color: cadetblue;
  margin-top: 140px;
}

.last_settings{
  display: none;
}

.obs-title{
  width: 15%;
  height: 70px;
  margin: auto;
  margin-top: 25px;
  background-color: beige;
  display: none;
}

.buffer-place{
  width: 90%;
  margin: auto;
  margin-top: 50px;
  background-color: cornsilk;
  display: none;
}

.buffer-obj{
  height: 20px;
  background-color: azure;
}

.discript-steps{
  margin: auto;
  margin-top: 45px;
  width: 80%;
  background-color: cornsilk;
  display: none;
}

.go_next_stored_vars{
  display: none;
}

.go_next_step{
  font-family: sans-serif;
}

.reset-env-class{
  float: right;
  position: relative;
  bottom: 55px;
  width: 10%;
  height: 10%;
  font-size: 15px;
  right: 50px;
}

@media only screen and (max-width :2000px){
  .env-text{
    font-size : 13px;
  }
}

@media only screen and (max-width :2600px){
  .apply-fun{
    width: 55%;
  }
}

@media only screen and (max-width :1900px){
  .apply-fun{
    width: 50%;
  }
}

@media only screen and (max-width :1500px){
  .apply-fun{
    width: 45%;
  }
}

@media only screen and (min-width :500px){
  .settings{
    font-size: 7px;
  }
}

@media only screen and (min-width :800px){
  .settings{
    font-size: 9px;
  }
}

@media only screen and (min-width :1600px){
  .settings{
    font-size: 13px;
  }
}

@media only screen and (min-width :2000px){
  .settings{
    font-size: 15px;
  }
}


/* train part */

.train_part{
  width: 100%;
  height: 96%;
  background-color: cadetblue;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.btn_train_p{
  width: 100%;
  height: 55px;
  font-size: 16.5px;
  font-family: sans-serif;
}

.take_sample_buffer_sub_base{
  margin-top: 30px;
  background-color: aliceblue;
}

.take_sample_buffer_base_base{
  display: none;
}

.after-get-process{
  display: none;
}

.rnn_for_obs{
  width: 35%;
  height: 120px;
  margin: auto;
  margin-top: 40px;
  background-color: aquamarine;
}

.feed-inputs-last-part{
  display: none;
  width: 99%;
}

.btn-take-sample{
  height: 85%;
}

.btn-feed-inputs{
  height: 85%;
}

.btn-hypernetwork{
  height: 85%;
}

.btn-backward{
  height: 85%;
}

.sum-arrow{
  width: 15px;
  margin: auto;
  background-color: red;
  margin-top: 12px;
  border-style: groove;
  border-width: .1px;
  border-radius: 10px;
  height: 15px;
}

.up-arrow{
  width: 10px;
  margin: auto;
  height: 20px;
  background-color: aquamarine;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.down-arrow{
  width: 10px;
  margin: auto;
  height: 20px;
  background-color: aquamarine;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.w-place{
  width: 70px;
  height: 20px;
  margin: auto;
  margin-bottom: 0px;
  background-color: darkturquoise;
  margin-top: 5px;
  padding-top: 3px;
}

.hypernet-weight-place{
  margin-bottom: 0px;
  margin-top: 3px;
  background: darkturquoise;
  width: 160px;
  height: 24px;
  padding-top: 5px;
}

.hypernet-weight-place-empty{
  margin-bottom: 0px;
  margin-top: 3px;
  background: aliceblue;
  width: 160px;
  height: 24px;
}

.states-initial-place{
  margin-bottom: 0px;
  margin-top: 3px;
  background: gainsboro;
  width: 160px;
  height: 24px;
  padding-top: 5px;
}

.states-second-place{
  margin-bottom: 0px;
  margin-top: 3px;
  background: chartreuse;
  width: 160px;
  height: 24px;
  padding-top: 5px;
}

.q-final-place{
  margin: auto;
  margin-bottom: 0px;
  margin-top: 3px;
  background: darkorange;
  width: 180px;
  height: 24px;
  padding-top: 5px;
}

.q-place{
  margin: auto;
  margin-bottom: 0px;
  margin-top: 3px;
  background: darkorange;
  width: 180px;
  height: 24px;
  padding-top: 5px;
}

.feed-hypernetwork{
  display: none;
}

.feed-hypernetwork-2{
  display: none;
}

.hypernetwork-backward{
  width: 20%;
  margin: auto;
  height: 50px;
  background-color: aquamarine;
  padding-top: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rnn-network-backward{
  width: 20%;
  margin: auto;
  height: 50px;
  background-color: aquamarine;
  padding-top: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loss-backward-1{
  background-color: bisque;
  width: 50%;
  margin: auto;
  height: 60px;
  padding-top: 15px;
}

.loss-backward-2{
  background-color: bisque;
  width: 50%;
  margin: auto;
  height: 60px;
  padding-top: 18px;
}

.obs-backward{
  background-color: chartreuse;
  width: 20%;
  margin: auto;
  height: 40px;
  padding-top: 7px;
}

.backward-process{
  display: none;
}

/*
 */


@media only screen and (max-width : 2000px) {
  .btn_train_p{
    font-size: 13px;
  }
}

@media only screen and (max-width : 1800px) {
  .btn_train_p{
    font-size: 11.5px;
  }
}

@media only screen and (max-width : 1700px) {
  .btn_train_p{
    font-size: 11px;
  }
}

@media only screen and (max-width : 1500px) {
  .batch_explain{
    font-size: 10px !important;
  }
}

@media only screen and (max-width : 1200px) {
  .batch_explain{
    font-size: 9px !important;
  }
}

@media only screen and (max-width : 1100px) {
  .batch_explain{
    font-size: 8px !important;
  }
}

@media only screen and (max-width : 1000px) {
  .batch_explain{
    font-size: 4px !important;
  }
}

@media only screen and (max-width : 1500px) {
  .below_part_1{
    font-size: 10px !important;
  }
}


@media only screen and (max-width : 1500px) {
  .below_part_2{
    font-size: 10px !important;
  }
}

@media only screen and (max-width : 1900px) {
  .top_part_1 .col p{
    font-size: 12px !important;
  }
}

@media only screen and (max-width : 1800px) {
  .top_part_1 .col p{
    font-size: 11px !important;
  }
}

@media only screen and (max-width : 1900px) {
  .top_part_2 .col p{
    font-size: 12px !important;
  }
}

@media only screen and (max-width : 1800px) {
  .top_part_2 .col p{
    font-size: 11px !important;
  }
}

@media only screen and (max-width : 1500px) {
  .loss-backward-1{
    font-size: 9px;
    padding-top: 17px;
  }
}

@media only screen and (max-width : 1500px) {
  .loss-backward-2{
    font-size: 9px;
    padding-top: 17px;
  }
}

@media only screen and (max-width : 1500px) {
  .hypernetwork-backward{
    font-size: 9px;
    padding-top: 17px;
  }
}

@media only screen and (max-width : 1500px) {
  .rnn-network-backward{
    font-size: 9px;
    padding-top: 17px;
  }
}

@media only screen and (max-width : 1500px) {
  .obs-backward{
    font-size: 9px;
    padding-top: 17px;
  }
}
































@media only screen and (max-width: 2100px){
  .crossover_div{
    width:30px;
    height: 30px;
  }
  .crossover_div_2{
    width:30px;
    height: 30px;
  }
  .crossover_div_3{
    width:30px;
    height: 30px;
  }
  .crossover_div_4{
    width:30px;
    height: 30px;
  }
  .crossover_div_5{
    width:30px;
    height: 30px;
  }
  .crossover_div_6{
    width:30px;
    height: 30px;
  }
  .crossover_text{
    font-size: 8px;
    padding: 0px;
    padding-top: 6px;
  }
  #c_1{
    margin-left: 70px;
  }
  #c_1_2{
    margin-left: 70px;
  }
  #c_26{
    margin-left: 70px;
  }
  #c_26_2{
    margin-left: 70px;
  }
  #r_1{
    margin-left: 70px;
  }
  #r_26{
    margin-left: 70px;
  }

@media only screen and (max-width: 1500px){
  .crossover_div{
    width:20px;
    height: 20px;
  }
  .crossover_div_2{
    width:20px;
    height: 20px;
  }
  .crossover_div_3{
    width:20px;
    height: 20px;
  }
  .crossover_div_4{
    width:20px;
    height: 20px;
  }
  .crossover_div_5{
    width:30px;
    height: 30px;
  }
  .crossover_div_5{
    width:30px;
    height: 30px;
  }
  .crossover_text{
    display: none;
  }
  #c_1{
    margin-left: 90px;
  }
  #c_1_2{
    margin-left: 90px;
  }
  #c_26{
    margin-left: 90px;
  }
  #c_26_2{
    margin-left: 90px;
  }
  #r_1{
    margin-left: 90px;
  }
  #r_26{
    margin-left: 90px;
  }
}


@media only screen and (max-width: 1100px){
  .crossover_div{
    width:15px;
    height: 15px;
  }
  .crossover_div_2{
    width:15px;
    height: 15px;
  }
  .crossover_div_3{
    width:15px;
    height: 15px;
  }
  .crossover_div_4{
    width:15px;
    height: 15px;
  }
  .crossover_div_5{
    width:15px;
    height: 15px;
  }
  .crossover_div_6{
    width:15px;
    height: 15px;
  }
  .crossover_text{
    display: none;
  }
  #c_1{
    margin-left: 50px;
  }
  #c_1_2{
    margin-left: 50px;
  }
  #c_26{
    margin-left: 50px;
  }
  #c_26_2{
    margin-left: 50px;
  }
  #r_1{
    margin-left: 50px;
  }
  #r_26{
    margin-left: 50px;
  }
}
